within {{ packageName }};
model {{ vavName }}
  "model for VAV terminal unit"
  extends {{ vavClass }}(
    redeclare Buildings.Templates.ZoneEquipment.Components.Controls.G36VAVBoxReheat ctl(
      have_occSen={{ occSensorFlag }},
      have_winSen={{ winSensorFlag }},
      have_CO2Sen={{ co2SensorFlag }}) {{ comma }}
    {{ heaCoiRedeclaration }});

end {{ vavName }};
