html{
  background-color: #f0f0f0;
  color: #022e4d;
  font-family: "Helvetica Neue", Helvetica, Verdana, sans-serif;
  /*padding: 10px;*/
}
body{
  color: #022e4d;
  border-radius: 0px;
  /*box-shadow: 2px -2px 5px 0px rgba(0,0,0,0.4);*/
}

.starter-template {
  padding: 0px 15px 20px 0px;
  text-align: center;
}

.navbar-toggle{
    right: 0px;
    top: 80px;
}
.navbar {
    height: 132px;
    max-height: 132px;
    background-color: #f0f0f0;
    /*border: none;*/
    border-radius: 0px;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

.navbar .navbar-nav{
  margin-bottom: 0px;
  margin-left: -20px;
}


.navbar .navbar-nav > input.form-control{
   position: absolute;
   top: 100px;
   right: 0;
}

/* ---------------------------------- */
.navbar .navbar-nav > li > a{
    color: #750000;
    background-color: #f0f0f0;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none;
}

.navbar-default{
  background-image: none;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 5px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 5px rgba(0, 0, 0, .075);
}
.glyphicon{
    /* The default is set to 1, rather than 1.5 */
    line-height: inherit;
}
.navbar .navbar-nav > li > a:hover{
    color: #750000;
    background-color: white;
    text-decoration: none;
}
.navbar-collapse{
  border-style: none;
  position: absolute;
  top: 100px;
  z-index: 100;
}
/* ---------------------------------- */


.navbar > .container-fluid .navbar-brand > img{
   position: absolute;
   left: 30px;
   height: 80px;
}

.footer{
/*  background-color: white;
  border-color: white; */
  background-color: #f0f0f0;
  padding: 10px;
  font-size: 75%;
  border-width:0px;
  background-image: none;
  border-radius: 0px;

}
.footer .narrow{
  padding-left: 0px;
}

.float-right{
  float:right;
  border-style:solid;
  border-width:1px;
  border-color:grey;
  padding:10px;
  margin: 10px;
  }

a:link, a:hover, a:visited, a:focus{
  color: #750000;
  text-decoration: underline;
  }

td{
  padding: 0px !important;;
  padding-left: 10px !important;
}

td.label{
  color: #022e4d;
}

table.citation > thead > tr > th, .table.citation > tbody > tr > th, .table.citation > tfoot > tr > th, .table.citation > thead > tr > td, .table.citation > tbody > tr > td, .table.citation > tfoot > tr > td{
  border: none;
}

#references.section{
  color: #022e4d;
}

.caption-text, .caption-number{
  color: #022e4d;
  font-style:italic;
}

code, pre{
  border: 0;
  color: #750000;
}

#markdown-toc{
    border: 0;
    color: #750000;
    background-color: #f0f0f0;
}

h1{
  font-size: 2em;
}
.h2, h2{
  font-size: 1.7em;
}
.h3, h3{
  font-size: 1.5em;
}
.h4, h4{
  font-size: 1.2em;
}

.h5, h5{
  font-style: italic;
}

blockquote{
  font-size: 1em;
  border-left: 0pt;
  padding: 0;
}


span.pre{
  background-color: #f0f0f0;
  border: none;
}

.page-content{
  margin: 10px;
}
/* End stylesheet from main web site -------------------- */
/* ------------------------------------------------------ */
